API_PORT=3001
SUPABASE_URL=medbgasjgccszuqdwbfl
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1lZGJnYXNqZ2Njc3p1cWR3YmZsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzMwODczNSwiZXhwIjoyMTAyODg0NzM1fQ.Sivl4e5v2N3uymHNDqKAZ-7-_dM-43xEwWaSzPu89YU
VITE_API_URL=http://localhost:3001